{% for item  in content  %}
        <div class="gallery">
        <a rel="gallery" class="photo" href="view.php?action=open&id={{ item.id|escape }}" >
        <h4>{{ item.name|escape }}</h4></a> 
        <a rel="gallery" class="photo" href="view.php?action=open&id={{ item.id|escape }}" >
        <img src="{{ item.address_small|escape }}"/></a>          
        </div>        
{% endfor %}  
