<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Галерея</title>  
    <link rel="stylesheet" href="style.css">  
</head>
<body>
<header>
    {% include "header.twig" %}
</header>
<main> 
    {% include "main.twig" %}
</main>
<footer>
    {% include "footer.twig" %}
</footer>
</body>
</html>